html {
  background: #000;
  color: #ebc76e;

  overflow-x: hidden;

  a {
    color: #ebc76e;
  }

  body {
    // margin: 0 25% 0 25%;
    margin: 0;
  }

  button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform 0.3s ease-in-out;
  }

  button:hover {
    transform: scale(1.1);
  }

  @media (hover: none) {
    button:hover {
      transform: scale(1);
    }
  }

  section {
    margin: 0 1rem 0 1rem;
  }

  p {
    // margin: 0.3rem;
    margin: 0;
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}

* {
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
  background: inherit;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  scrollbar-width: none;
}

@media only screen and (max-width: 700px) {
  html {
    body {
      margin: 0px;
    }
  }
}

.text-style-1 {
  color: #2cd4c9;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5rem;
}

.page-loader {  
  width: 48px;
  height: 48px;
  border: 1px solid #fbdeb2;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 475px) {
  #scrollupBtn {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 99;
  }
}

@media (min-width: 476px) {
  #scrollupBtn {
    display: none;
    position: fixed;
  }
}